@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #de8900;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c87b00;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Cairo", sans-serif;
  margin: auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 4000px;
  margin: auto;
}

header {
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}
header.navbar-scroll {
  background-color: white;
  border-bottom: 2px solid #de8900;
}
header nav .navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
header nav .container .navbar-brand img {
  width: 100px;
}
header nav .collapse .navbar-nav li {
  padding: 0 10px;
}
header nav .collapse .navbar-nav li a {
  font-weight: 600;
  padding: 7px;
  border-radius: 25px;
  color: #616161;
}
header nav .collapse .navbar-nav li a:hover {
  color: #de8900 !important;
}
header nav .collapse .navbar-nav li a.active {
  background-color: #de8900;
  color: white;
}
header nav .collapse .navbar-nav li a.active:hover {
  color: white !important;
}
header nav .collapse .navbar-nav li .dropdown-menu[data-bs-popper] {
  left: -75%;
}
header nav .collapse .navbar-nav li ul {
  text-align: right;
}
header nav .collapse .navbar-nav li ul li a {
  padding: 7px;
  border-radius: 0;
  color: #616161;
}
header nav .collapse .navbar-nav li ul li a:hover {
  background-color: #de8900;
  color: white !important;
}
header nav .collapse .navbar-nav li ul li a.active {
  color: #de8900;
}

#hero {
  position: relative;
  height: 100vh;
  top: -3%;
}
#hero #carouselExampleControls button i {
  color: #616161;
  font-size: 3rem;
}

#slogan {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slogan .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
#slogan .container .slogan__text {
  text-align: center;
  line-height: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#slogan .container .slogan__text h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #de8900;
}
#slogan .container .slogan__text p {
  font-size: 2rem;
  font-weight: 600;
  color: #616161;
}
#slogan .container .slogan__text a {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #de8900;
  padding: 5px 60px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
#slogan .container .slogan__text a:hover {
  background-color: #c87b00;
}
#slogan .container .slogan__image {
  display: flex;
  justify-content: flex-start;
}
#slogan .container .slogan__image img {
  width: 100%;
}

@media (max-width: 1200px) {
  #hero {
    height: 95vh;
    top: -3%;
  }
  #slogan {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #slogan .container .slogan__text {
    line-height: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #slogan .container .slogan__text h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #de8900;
  }
  #slogan .container .slogan__text p {
    font-size: 2rem;
    font-weight: 600;
    color: #616161;
  }
  #slogan .container .slogan__image img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  header nav .navbar-collapse {
    min-height: 200px;
  }
  header nav .container .navbar-brand img {
    width: 50px;
  }
  #hero {
    top: -1.5%;
    height: 385px;
  }
  #hero #carouselExampleControls button i {
    color: #de8900;
    font-size: 1rem;
  }
  #slogan {
    height: 95vh;
  }
  #slogan .container .slogan__text {
    align-items: center;
  }
  #slogan .container .slogan__text h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #de8900;
  }
  #slogan .container .slogan__text p {
    font-size: 2rem;
    font-weight: 700;
    color: #616161;
  }
  #slogan .container .slogan__text a {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: #de8900;
    border-radius: 25px;
  }
  #slogan .slogan__image img {
    width: 100%;
  }
}
#slogan {
  overflow-x: hidden;
  margin-top: -8%;
}
#slogan .slogan__text h1 {
  position: relative;
  left: 100%;
  transition: all 1s ease-in-out;
}
#slogan .slogan__text h1.reveal-active {
  left: 0;
}
#slogan .slogan__text p {
  position: relative;
  left: 100%;
  transition: all 1s ease-in-out;
}
#slogan .slogan__text p.reveal-active {
  left: 0;
}
#slogan .slogan__text .start__now {
  position: relative;
  transform: scale(0);
  transition: transform 2s ease-in-out;
  transition-delay: 2s;
}
#slogan .slogan__text .start__now.reveal-active {
  transform: scale(1);
}
#slogan .slogan__image {
  position: relative;
  right: 100%;
  transition: all 1s ease-in-out;
}
#slogan .slogan__image.reveal-active {
  right: 0;
}

#services {
  margin-top: 50px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #616161;
  text-align: center;
  margin: 3rem auto;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #de8900;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #de8900;
  border-radius: 50%;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.title:hover {
  color: white;
  transition: color 0.3s linear;
  transition-delay: 0.5s;
}
.title:hover::after {
  z-index: -1;
  -webkit-animation: leftanimation 1s linear forwards;
          animation: leftanimation 1s linear forwards;
}
.title:hover::before {
  z-index: -1;
  -webkit-animation: rightanimation 1s linear forwards;
          animation: rightanimation 1s linear forwards;
}

@-webkit-keyframes leftanimation {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
  }
}

@keyframes leftanimation {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
  }
}
@-webkit-keyframes rightanimation {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    right: 0;
  }
}
@keyframes rightanimation {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    right: 0;
  }
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  min-width: calc(25% - 2rem);
  max-width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
  transform: translateY(250px);
  transition: transform 1s ease-in-out;
}
.col.reveal-active {
  transform: translateY(0);
}

.container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
}

.back {
  background: #a0aab1;
  background: linear-gradient(45deg, #a0aab1 0%, #616161 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}
.inner .show__more {
  background-color: #de8900;
  padding: 3px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}
.inner .show__more:hover {
  background-color: #616161;
  color: white;
}

.container .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .col {
    min-width: calc(33.333333% - 2rem);
    max-width: calc(33.333333% - 2rem);
  }
}
@media screen and (max-width: 992px) {
  .col {
    min-width: calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 768px) {
  .col {
    min-width: 100%;
    max-width: 100%;
    margin: 0 0 2rem 0;
  }
}/*# sourceMappingURL=app.css.map */