@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #de8900;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c87b00;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Cairo", sans-serif;
  margin: auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 4000px;
  margin: auto;
}

header {
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}
header.navbar-scroll {
  background-color: white;
  border-bottom: 2px solid #de8900;
}
header nav .navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
header nav .container .navbar-brand img {
  width: 100px;
}
header nav .collapse .navbar-nav li {
  padding: 0 10px;
  font-weight: 500;
}
header nav .collapse .navbar-nav li a {
  padding: 7px;
  border-radius: 25px;
  color: #616161;
}
header nav .collapse .navbar-nav li a:hover {
  color: #de8900 !important;
}
header nav .collapse .navbar-nav li a.active {
  background-color: #de8900;
  color: white;
}
header nav .collapse .navbar-nav li a.active:hover {
  color: white !important;
}
header nav .collapse .navbar-nav li .dropdown-menu[data-bs-popper] {
  left: -75%;
}
header nav .collapse .navbar-nav li ul {
  text-align: right;
}
header nav .collapse .navbar-nav li ul li a {
  padding: 7px;
  border-radius: 0;
  color: #616161;
}
header nav .collapse .navbar-nav li ul li a:hover {
  background-color: #de8900;
  color: white !important;
}
header nav .collapse .navbar-nav li ul li a.active {
  color: #de8900;
}

#hero {
  position: relative;
  height: 100vh;
  top: -3%;
}
#hero #carouselExampleControls button i {
  color: #de8900;
  font-size: 3rem;
}

#slogan {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slogan .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
#slogan .container .slogan__text {
  text-align: center;
  line-height: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#slogan .container .slogan__text h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #de8900;
}
#slogan .container .slogan__text p {
  font-size: 2rem;
  font-weight: 600;
  color: #616161;
}
#slogan .container .slogan__text a {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #de8900;
  padding: 5px 60px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
#slogan .container .slogan__text a:hover {
  background-color: #c87b00;
}
#slogan .container .slogan__image {
  display: flex;
  justify-content: flex-start;
}
#slogan .container .slogan__image img {
  width: 100%;
}

@media (max-width: 1200px) {
  #hero {
    height: 100vh;
    top: -3%;
  }
  #slogan {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #slogan .container .slogan__text {
    line-height: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #slogan .container .slogan__text h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #de8900;
  }
  #slogan .container .slogan__text p {
    font-size: 2rem;
    font-weight: 600;
    color: #616161;
  }
  #slogan .container .slogan__image img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  header nav .navbar-collapse {
    min-height: 200px;
  }
  header nav .container .navbar-brand img {
    width: 50px;
  }
  #hero {
    top: -1.5%;
    height: 385px;
  }
  #hero #carouselExampleControls button i {
    color: #de8900;
    font-size: 1rem;
  }
  #slogan {
    height: 95vh;
  }
  #slogan .container .slogan__text {
    align-items: center;
  }
  #slogan .container .slogan__text h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #de8900;
  }
  #slogan .container .slogan__text p {
    font-size: 2rem;
    font-weight: 700;
    color: #616161;
  }
  #slogan .container .slogan__text a {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: #de8900;
    border-radius: 25px;
  }
  #slogan .slogan__image img {
    width: 100%;
  }
}/*# sourceMappingURL=app.css.map */